* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.oee {
    height: 422px;
    width: 400px;
    background-color: powderblue;
}

p {
    margin-bottom: 20px;
}

h1 {
    padding: 20px;
}

input {
    border: none;
    border-radius: 10px;
    height: 10px;
    width: 70%;
    padding: 10px;
}

.button {
    display: flex;
    height:40px;
    align-items: center;
    background-color: blue;
    margin: auto;
    justify-content: center;
    width: 90px;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media(max-width: 480px) {
    body {
        display: flex;
        height: 100vh;
        width: 100vw;
        background-color: black;
    }

    form {
        height: 100%;
        width: 90%;
    }

    .oee {
        border-radius: 10px;
    }
}

